 body {
  width: screen;
  height: 100vh;
  background-color:lightgray;
}

.GameBoard {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.Memory-Card {
  height: 180px;
  width: 120px;
  margin: 20px;
  border-radius: 8px;
  margin: auto;
  position: relative;
  cursor: pointer;
  padding: 8px;
  transform-style: preserve-3d;
  transition: all 1s;
  background-color:dimgrey;
}

.Frontface, .Backface {
  height: 60%;
  width: 60%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  margin: auto;
}

.Memory-Card.flip{
  transform: rotateY(180deg);
}
.Frontface{
  transform: rotateY(180deg);
}

